.container {
  height: 90%;
  min-height: 90vh;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 5px;
  background-color: #e1e4f5;
  box-shadow: 5px 5px 15px 5px #010e53;
}
