.header {
  display: flex;
  align-items: center;
  min-height: 80px;
  border-bottom: 1px solid #2a363b;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #0c0c0c;
  font-size: 22px;
  font-weight: 700;
}

.activeLink {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #1464dd;
  font-size: 22px;
  font-weight: 700;
}
